footer {
  width: 100%;
  position: fixed;
  bottom: 0;
  border-top: 1px solid #eaeaea;
  padding-top: 10px;
  padding-bottom: 20px;
  background-color: white;
  margin-top: 10px;
  overflow: auto;
  clear: both;
}
.footer-block {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}
.footer-icons {
  font-size: 8px;
  font-weight: bold;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin: 0 20px 0 20px;
  cursor: pointer;
}

.footer-icons > div {
  margin-top: 5px;
}
@keyframes icons-doong {
  from {
    transform: translateY(-10px);
  }
}
.footer-icons__img {
  width: 30px;
}
.footer-icons:hover .footer-icons__img {
  animation: 2s icons-doong;
}
